<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
						http://www.springframework.org/schema/tx
					    http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.3.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
						http://mybatis.org/schema/mybatis-spring 
						http://mybatis.org/schema/mybatis-spring.xsd">
 
    <context:property-placeholder location="classpath:config.properties"/>  
	<context:component-scan base-package="cn.devmgr.sample.service" />
	<context:component-scan base-package="cn.devmgr.sample.rest.resource" />
	<context:component-scan base-package="cn.devmgr.sample.rest.filter" />
	<context:component-scan base-package="cn.devmgr.sample.component" />
    <mybatis:scan base-package="cn.devmgr.sample.dao" />
	
    <tx:annotation-driven transaction-manager="transactionManager" />
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
         <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!-- 在tomcat启动参数中 spring.profiles.active=production 可设置使用某个profile; 
         在web.xml设置context-param spring.profiles.default 可设置缺省使用profile  -->
    <beans profile="development">
        <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
            <property name="driverClassName" value="org.postgresql.Driver"/>
            <property name="url" value="jdbc:postgresql://127.0.0.1:5432/testdb?stringtype=unspecified"/>
            <property name="username" value="pgdbo"/>
            <property name="password" value="sql"/>
            <property name="maxTotal" value="10"></property>
            <property name="maxIdle" value="5"></property>
            <property name="maxWaitMillis" value="5000"></property>
        </bean>
    </beans>
    <beans profile="production">
        <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
            <property name="driverClassName" value="org.postgresql.Driver"/>
            <property name="url" value="jdbc:postgresql://127.0.0.1:5432/testdb?stringtype=unspecified"/>
            <property name="username" value="pgdbo"/>
            <property name="password" value="sql"/>
            <property name="maxTotal" value="50"></property>
            <property name="maxIdle" value="20"></property>
            <property name="maxWaitMillis" value="10000"></property>
        </bean>
    </beans>

</beans>